## Train Dataset

In [6]:
import pandas as pd


data = pd.read_csv('./train.csv')

print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))
data.head()

Number of instances = 891
Number of attributes = 12

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
for col in data.columns:
    print(col)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [8]:
import numpy as np

data = data.replace('?',np.NaN)

print('Number of instances = %d' % (data.shape[0]))
print('Number of attributes = %d' % (data.shape[1]))

print('Number of missing values:')
for col in data.columns:
    print('\t%s: %d' % (col,data[col].isna().sum()))

Number of instances = 891
Number of attributes = 12
Number of missing values:
	PassengerId: 0
	Survived: 0
	Pclass: 0
	Name: 0
	Sex: 0
	Age: 177
	SibSp: 0
	Parch: 0
	Ticket: 0
	Fare: 0
	Cabin: 687
	Embarked: 2

In [12]:
# these are easy, to get the minimum:
print('Age min = {}'.format(data['Age'].min()))
# now, you do the rest:
print('Age max = {}'.format(data['Age'].max()))




#print('mean = {}'.format(df['Price'].mean()))
#print('median = {}'.format(df['Price'].median()))
#print('Standard deviation = {}'.format(df['Price'].std()))

Age min = 0.42
Age max = 80.0

In [15]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [16]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [20]:
data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [25]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [22]:
(data.loc[data['Sex'] == 'female']['Survived']).value_counts()

1    233
0     81
Name: Survived, dtype: int64

In [24]:
(data.loc[data['Sex'] == 'male']['Survived']).value_counts()

0    468
1    109
Name: Survived, dtype: int64

In [26]:
(data.loc[data['Pclass'] == 1 ]['Survived']).value_counts()

1    136
0     80
Name: Survived, dtype: int64

In [27]:
(data.loc[data['Pclass'] == 2 ]['Survived']).value_counts()

0    97
1    87
Name: Survived, dtype: int64

In [28]:
(data.loc[data['Pclass'] == 3 ]['Survived']).value_counts()

0    372
1    119
Name: Survived, dtype: int64

In [ ]:
df.loc[~(df['A'].eq('blue') & df['B'].eq('green'))]

In [39]:
(data.loc[(data['Pclass'] == 3 & data['Sex'] == 'male' )])

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]